Repository nuxt/nuxt, pull requests merged in 2023-01, with the labels that each got.

#10086 fix(vue-app): clear hide timeout when calling `clear()`
  packages/vue-app/template/components/nuxt-loading.vue
Labels: 2.x

#18416 fix(nuxt): provide types for modules as array
  packages/nuxt/src/core/templates.ts
  test/fixtures/basic/modules/example.ts
  test/fixtures/basic/nuxt.config.ts
Labels: types, bug, 🔨 p3-minor-bug

#18433 fix(vite): don't skip loading styles in hydration phase
  packages/nuxt/src/app/nuxt.ts
  packages/vite/src/client.ts
Labels: bug, vite

#18446 fix(vite): enable css sourcemaps in dev based on `sourcemap`
  packages/vite/src/client.ts
  packages/vite/src/server.ts
Labels: bug, vite, 🍰 p2-nice-to-have

#18443 fix(nuxt): await async `callWithNuxt` calls
  packages/nuxt/src/app/components/nuxt-root.vue
  packages/nuxt/src/app/nuxt.ts
  packages/nuxt/src/pages/runtime/plugins/router.ts
  test/fixtures/basic/types.ts
Labels: types, bug, 🔨 p3-minor-bug

#18445 fix(nuxt): let router handle internal redirects within middleware
  packages/nuxt/src/app/composables/router.ts
  packages/nuxt/src/app/plugins/router.ts
  packages/nuxt/src/pages/runtime/plugins/router.ts
Labels: bug, ❗ p4-important

#18421 chore: include central readme/licence when publishing individual packages
  .gitignore
  docs/content/1.docs/5.community/5.framework-contribution.md
  packages/kit/README.md
  packages/nuxi/README.md
  packages/nuxt/README.md
  packages/schema/README.md
  packages/test-utils/README.md
  packages/vite/README.md
  packages/webpack/README.md
  scripts/release-edge.sh
  scripts/release-rc.sh
  scripts/release.sh
Labels: 3.x, chore, 🧹 p1-chore

#18474 docs: add link to config api
  docs/content/1.docs/2.guide/1.concepts/8.typescript.md
Labels: documentation

#18406 v3.1.0
  docs/content/1.docs/2.guide/2.directory-structure/1.components.md
  packages/kit/package.json
  packages/nuxi/package.json
  packages/nuxt/package.json
  packages/schema/package.json
  packages/test-utils/package.json
  packages/vite/package.json
  packages/webpack/package.json
Labels: 3.x, chore

#18495 fix(nuxt): do not override inferred type of `<NuxtPage>`
  packages/nuxt/src/pages/runtime/page.ts
  packages/nuxt/src/pages/runtime/plugins/router.ts
  packages/nuxt/types.d.ts
  test/fixtures/basic/types.ts
Labels: types, bug, 🔨 p3-minor-bug

#18494 fix(nuxt): don't render unknown components with placeholder
  packages/nuxt/src/components/loader.ts
  test/fixtures/basic/pages/index.vue
  test/fixtures/basic/plugins/register.ts
Labels: bug, ❗ p4-important

#18447 fix(vite): ensure newly created pages do not return 404
  package.json
  packages/test-utils/package.json
  packages/vite/package.json
  packages/vite/src/vite-node.ts
  pnpm-lock.yaml
  test/basic.test.ts
Labels: bug, vite, 🔨 p3-minor-bug

#18505 fix(nuxt): augment interfaces exported from `vue`
  docs/2.guide/2.directory-structure/1.plugins.md
  packages/nuxt/src/app/types/augments.d.ts
  packages/nuxt/src/components/templates.ts
  packages/nuxt/src/core/templates.ts
Labels: types, bug, 🍰 p2-nice-to-have

#18524 chore: bump version to v3.1.1
  packages/kit/package.json
  packages/nuxi/package.json
  packages/nuxt/package.json
  packages/schema/package.json
  packages/test-utils/package.json
  packages/vite/package.json
  packages/webpack/package.json
Labels: 3.x, chore

#18546 docs: mention virtual file system
  docs/2.guide/2.directory-structure/0.nuxt.md
Labels: documentation, 3.x

#18586 fix(nuxt): provide fallback values for undefined runtime config
  packages/schema/src/config/common.ts
  test/basic.test.ts
  test/fixtures/basic/nuxt.config.ts
Labels: enhancement, 3.x, 🍰 p2-nice-to-have

#18589 fix(kit): don't use default export of defu
  packages/kit/src/module/define.ts
Labels: 3.x, kit

#18626 fix(nuxt): dedupe vue-router
  packages/nuxt/src/pages/module.ts
Labels: bug, pages, 🔨 p3-minor-bug

#18623 fix(test-utils): prevent orphaned processes and use baseURL when loading
  packages/test-utils/src/server.ts
Labels: 3.x, bug, 🔨 p3-minor-bug, test-utils

#18642 fix(vite): ensure `__publicAssetsURL` set before loading assets
  packages/vite/src/client.ts
  packages/vite/src/plugins/paths.ts
Labels: bug, vite, 🔨 p3-minor-bug

#18646 perf(vite): use compiled regexp for test
  packages/vite/src/plugins/paths.ts
Labels: bug, vite, 🔨 p3-minor-bug

#18647 fix(kit): avoid adding already installed modules to internal `_installedModules`
  packages/kit/src/module/define.ts
  packages/kit/src/module/install.ts
  packages/schema/src/types/module.ts
Labels: 3.x, bug
